{% extends 'habrahabr_ru/nav.html' %}

{% block content %}
    <br>
    <h2>Info about <strong>{{ company.name }}</strong></h2>
    <br>
    <h4>Status: {{ company.status }}</h4>
    <h4>Rating: {{ company.rating }}</h4>
    <h4>About: {{ company.about }}</h4>
    <h4>Register date: {{ company.date_created }}</h4>
    <h4>Users who works in: {{ users | query_to_string }}</h4>

{% endblock %}
