{% extends 'habrahabr_ru/nav.html' %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hub</th>
            </tr>
        </thead>
        <tbody>
        {% for hub in hubs %}
            <tr>
                <th>{{ hub.id }}</th>
                <th><a href="/habrahabr_ru/hub/{{ hub.url_title }}">{{ hub.title }}</a></th>
            </tr>
        {% endfor %}
        </tbody>

    </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if prev_page %}
                    {% if search %}
                        <li class="page-item"><a class="page-link" href="?search={{ search }}&page={{ prev_page }}">Previous</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ prev_page }}">Previous</a></li>
                    {% endif %}
                {% endif %}
            <li class="page-item"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% if next_page %}
                    {% if search %}
                        <li class="page-item"><a class="page-link" href="?search={{ search }}&page={{ next_page }}">Next</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ next_page }}">Next</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}
