{% extends 'base.html' %}

{% block nav_bar %}
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'habrahabr_index' %}">Habrahabr</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'get_habrahabr_posts' %}">Posts</a>
                </li>
                <li>
                    <a href="{% url 'get_users' %}">Users</a>
                </li>
                <li>
                    <a href="{% url 'get_companies' %}">Companies</a>
                </li>
                <li>
                    <a href="{% url 'get_hubs' %}">Hubs</a>
                </li>
                <li>
                    <a href="{% url 'get_tags' %}">Tags</a>
                </li>
                <li>
                    <a href="{% url 'get_flows' %}">Flows</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
