{% extends 'habrahabr_ru/nav.html' %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="container">

    <form onsubmit="window.location = '{{ request.url }}?search=' + search.value; return false;">
        {% csrf_token %}
        <div class="control is-horizontal">
            <label for="search">Search in:</label>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Flow</th>
                <th>Hubs</th>
                <th>Fetch date</th>
                <th>Author</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <th>{{ post.id }}</th>
                <th><a href="/habrahabr_ru/post/{{ post.id }}">{{ post.title }}</a></th>
                <th><a href="/habrahabr_ru/flow/{{ post.flow.url_title }}">{{ post.flow.title }}</a></th>
                <th>{{ post.hubs.all | query_to_string }}</th>
                <th>{{ post.updated_at }}</th>
                <th><a href="/habrahabr_ru/user/{{ post.author.nickname }}">{{ post.author.nickname }}</a></th>
                <th><a href="/habrahabr_ru/company/{{ post.company.url_name }}">{{ post.company.name }}</a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if prev_page %}
                    {% if search %}
                        <li class="page-item"><a class="page-link" href="?search={{ search }}&page={{ prev_page }}">Previous</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ prev_page }}">Previous</a></li>
                    {% endif %}
                {% endif %}
            <li class="page-item"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% if next_page %}
                    {% if search %}
                        <li class="page-item"><a class="page-link" href="?search={{ search }}&page={{ next_page }}">Next</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ next_page }}">Next</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}
