{% extends 'habrahabr_ru/nav.html' %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="container">
        <div>
            <h2>{{ post.title }}</h2>
        <br>
            {{ post.post }}
        </div>
        <br>
        <br>
        <br>
        <div>
            Flow: <a href="/habrahabr_ru/flow/{{ post.flow.url_title }}">{{ post.flow }}</a>
        </div>
            <br>
        <div>
            Hubs: {{ post.hubs.all | query_to_string }}
        </div>
            <br>
        <div>
            Tags: {{ post.tags.all | query_to_string }}
        </div>
            <br>
        <a href="{{ post.page.url}}">
            Source on habrahabr
        </a>
    </div>
{% endblock %}
