{% extends 'habrahabr_ru/nav.html' %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="container">
        <form onsubmit="window.location = '/habrahabr_ru/users?search=' + search.value; return false;">
        {% csrf_token %}
        <div class="control is-horizontal">
            <label for="search">Search in:</label>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nickname</th>
                <th>Name</th>
                <th>Rating</th>
                <th>Karma</th>
                <th>Registered</th>
                <th>Works in</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th>{{ user.id }}</th>
                <th><a href="/habrahabr_ru/user/{{ user.nickname }}">{{ user.nickname }}</a></th>
                <th>{{ user.name }}</th>
                <th>{{ user.rating }}</th>
                <th>{{ user.karma }}</th>
                <th>{{ user.registered }}</th>
                <th><a href="/habrahabr_ru/company/{{ user.company.url_name }}">{{ user.company.name }}</a></th>
            </tr>
        {% endfor %}
        </tbody>

    </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if prev_page %}
                    {% if search %}
                        <li class="page-item"><a class="page-link" href="?search={{ search }}&page={{ prev_page }}">Previous</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ prev_page }}">Previous</a></li>
                    {% endif %}
                {% endif %}
            <li class="page-item"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% if next_page %}
                    {% if search %}
                        <li class="page-item"><a class="page-link" href="?search={{ search }}&page={{ next_page }}">Next</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ next_page }}">Next</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}
