{% extends 'habrahabr_ru/nav.html' %}

{% block content %}

    <h2>Info about <strong>{{ user.nickname }}</strong></h2>
    <h4>Name: {{ user.name }}</h4>
    <h4>Status: {{ user.status }}</h4>
    {% if user.company %}
        <h4>Work in: <a href="/habrahabr_ru/company/{{ user.company.url_name }}">{{ user.company }}</a></h4>
    {% endif %}
    <h4>Rating: {{ user.rating }}</h4>
    <h4>Karma: {{ user.karma }}</h4>
    <h4>About: {{ user.about }}</h4>
    <h4>Register date: {{ user.registered }}</h4>
    <h4>Last event: {{ user.last_event }}</h4>

{% endblock %}
