{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'show_db' %}" method="POST">
        {% csrf_token %}
        <div class="control is-horizontal">
            <label for="search">Search by id or url:</label>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Domain</th>
                <th>Url</th>
                <th>Fetch date</th>
                <th>MD5 hash (click to see page)</th>
            </tr>
        </thead>
        <tbody>
        {% for item in pages %}
            <tr>
                <th>{{ item.id }}</th>
                <th>{{ item.url|extract_domain_filter }}</th>
                <th><a href="{{ item.url }}">{{ item.url }}</a></th>
                <th>{{ item.updated_at }}</th>
                <th><a href="/get-page?page_id={{ item.id }}">{{ item.html_md5 }}</a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if pages.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ pages.previous_page_number }}">Previous</a></li>
            {% endif %}
        <li class="page-item"><a class="page-link" href="#">{{ pages.number }} of {{ pages.paginator.num_pages }}</a></li>
        {% if pages.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ pages.next_page_number }}">Next</a></li>
        {% endif %}

      </ul>
    </nav>

{% endblock %}
