{% extends 'base.html' %}

{% block content %}
    <style>
    .box {
        margin-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: #b7c7c2;
        width: 25%;
        height: 50px;
        text-align: center;
        padding: 5px;
        border-radius: 15px;
        line-height: 40px;
    }
    </style>
    <div class="row">
        <div class="col-sm-3 box">
            <strong>Was fetched {{ pages_fetched }} pages!</strong>
        </div>
        <div class="col-sm-3 box">
            <strong>Was parsed {{ pages_parsed }} pages!</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 box">
            <strong>Was fetched {{ url_fetched }} urls!</strong>
        </div>
        <div class="col-sm-3 box">
            <strong>{{ memory }} was used!</strong>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Domain</th>
                <th>Url</th>
                <th>Fetch date</th>
                <th>MD5 hash (click to see page)</th>
            </tr>
        </thead>
        <tbody>
        {% for item in pages %}
            <tr>
                <th>{{ item.id }}</th>
                <th>{{ item.url|extract_domain_filter }}</th>
                <th><a href="{{ item.url }}">{{ item.url }}</a></th>
                <th>{{ item.updated_at }}</th>
                <th><a href="/get-page?page_id={{ item.id }}">{{ item.html_md5 }}</a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
